body {
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
}

#container {
    color:red;
    width: 1000px;

}

h1 {
    border: red, dashed, 2px;
    background-color: blue;
    border-radius: 2px;
    padding: 2px;
    margin: 2px;
    width: 60%;
    text-align: center;
    font-size: 1.8em; margin-left: 30px;

}

h2 {
    text-align: center;
}

h3 {
    border-left: double, 2 px, purple;
}

p{
    line-height: 2.2em;
}

img{
    float: left;
    width: 300px;
    border: red, solid, 3px;
}

a:link{
    color: blue;
}

a:visited{
    color: purple;
}

a:hover{
    color:blueviolet
}


a:active{
    color:brown;
}

.highlight {
    font-weight: bold;
    background-color: red;
    padding: 3px;
    color: blueviolet;
}

#sidebar {
    background-color: orangered;
    width: 175px;
    float: left;
    border: 2px solid blue;
    margin: 15px;
    line-height:1.25em;
}

#sidebar h3{
    padding: 5px;
    width: 100px;
    background: none;
}

@media (max-width: 1200px) {
    #container{
        background-color:crimson;
        width: 800px;
    }
}

@media(max-width: 992px){
    #container{
        width: 100%;
    }
    #container, p{
        margin: 0;
        padding: 0;
        border: none;
    }
    h1, h2, h3, p, div{
        background-color: rebeccapurple;
    }
    body{
        padding: 20px;
    }
}

@media(max-width:768px){
    #sidebar{
        display:none;
    }
    img,#pic1, #pic2{
        clear:both;
        border:none;

    }
    h3{
        margin: 0 auto;
    }
}